/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Lato", sans-serif;
}

/* Cor da pag */
body {
  background: #f2f2f2;
}

/* imagem Rick and Morty */
.img-title {
  width: 50%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

/* Campo onde fica os botão */
.menu-container {
  border: 10px solid #22a2bd;
  margin: 20px;
  border-radius: 20px;
  height: 100px;
  background: #fff;
}

/* Botões */
select,
button {
  border-radius: 20px;
  border: 5px solid #87f583;
  height: 40px;
  width: 10%;
  text-align: center;
  background: transparent;
}

/* campo pesquisar */
input {
  position: absolute;
  right: 3%;
  font-size: 16px;
  background: transparent;
  color: black;
  border-radius: 20px;
  border: 5px solid #87f583;
  height: 4%;
  width: 25%;
  text-align: right;
}

/* class do form */
.menu-filter {
  margin: 20px;
}

/* imagem do menu */
.img-menu {
  width: 200px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

/* Posicionamento dos cards */
.cards-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 300px;
  justify-items: flex-end;
  grid-gap: 1rem;
}

/* Estilo dos cards */
.card-info {
  width: 250px;
  height: 330px;
  padding: 2rem 1rem;
  background: #fff;
  position: relative;
  display: flex;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
  border-radius: 10px;
  margin: 4px;
}

/* animação que faz o card se mover para baixo */
.card-info:hover {
  transform: translateY(20px);
}

/* estilo da animação com as info */
.card-info:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(116, 116, 116, 0.596), #1d1d1d9a);
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
  border-radius: 10px;
}

.card-info:hover:before {
  opacity: 1;
}

/* tamanho das imgs dos cards */
.card-info img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
}

/* Estilo das letras que contém as informações */
.card-info .info-lista {
  position: relative;
  z-index: 3;
  color: #ffff;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all 0s;
}

/* Animação que mostrar as informações nos cards */
.card-info:hover .info-lista {
  opacity: 1;
  transform: translateY(0px);
}
